body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:4866px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u240 {
  position:absolute;
  left:0px;
  top:70px;
  width:1700px;
  height:4866px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u241 {
  position:absolute;
  left:2px;
  top:2425px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:70px;
}
#u244 {
  position:absolute;
  left:2px;
  top:27px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u245 {
  position:absolute;
  left:100px;
  top:25px;
  width:320px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:34px;
}
#u247 {
  position:absolute;
  left:50px;
  top:19px;
  width:32px;
  height:34px;
}
#u248 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:830px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u250 {
  position:absolute;
  left:52px;
  top:325px;
  width:960px;
  height:830px;
}
#u251 {
  position:absolute;
  left:2px;
  top:407px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u252 {
  position:absolute;
  left:162px;
  top:1109px;
  width:740px;
  height:16px;
  text-align:center;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:80px;
}
#u255 {
  position:absolute;
  left:52px;
  top:325px;
  width:960px;
  height:80px;
  font-size:20px;
}
#u256 {
  position:absolute;
  left:2px;
  top:28px;
  width:956px;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:80px;
}
#u257 {
  position:absolute;
  left:52px;
  top:325px;
  width:960px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u258 {
  position:absolute;
  left:2px;
  top:28px;
  width:956px;
  word-wrap:break-word;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u259 {
  position:absolute;
  left:393px;
  top:661px;
  width:258px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u260 {
  position:absolute;
  left:2px;
  top:16px;
  width:254px;
  word-wrap:break-word;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u261 {
  position:absolute;
  left:278px;
  top:495px;
  width:74px;
  height:16px;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:393px;
  top:592px;
  width:258px;
  height:36px;
}
#u263_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u263_input {
  font-family:'微软雅黑';
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u264 {
  position:absolute;
  left:278px;
  top:602px;
  width:74px;
  height:16px;
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:393px;
  top:484px;
  width:258px;
  height:40px;
}
#u266_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u266_input {
  font-family:'微软雅黑';
}
#u266_input:disabled {
  color:grayText;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u267 {
  position:absolute;
  left:396px;
  top:493px;
  width:26px;
  height:22px;
}
#u268 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0000FF;
}
#u269 {
  position:absolute;
  left:676px;
  top:496px;
  width:105px;
  height:19px;
  text-decoration:underline;
  color:#0000FF;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u271 {
  position:absolute;
  left:393px;
  top:540px;
  width:258px;
  height:42px;
  color:#999999;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  word-wrap:break-word;
}
#u273_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:485px;
  height:21px;
}
#u273p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:476px;
  height:1px;
}
#u273p000_img {
  position:absolute;
  left:-11px;
  top:-10px;
  width:488px;
  height:22px;
}
#u273p001 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:20px;
}
#u273p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:32px;
  height:40px;
}
#u273.compound {
  width:0px;
  height:0px;
}
#u273 {
  position:absolute;
  left:604px;
  top:602px;
  width:474px;
  height:1px;
}
#u274 {
  position:absolute;
  left:2px;
  top:-8px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u275 {
  position:absolute;
  left:1085px;
  top:595px;
  width:299px;
  height:15px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:32px;
}
#u277 {
  position:absolute;
  left:50px;
  top:120px;
  width:320px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:32px;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u279 {
  position:absolute;
  left:1193px;
  top:709px;
  width:222px;
  height:15px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u280 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u281 {
  position:absolute;
  left:1193px;
  top:920px;
  width:258px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u282 {
  position:absolute;
  left:2px;
  top:16px;
  width:254px;
  word-wrap:break-word;
}
#u283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u283 {
  position:absolute;
  left:1078px;
  top:755px;
  width:74px;
  height:16px;
}
#u284 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u285 {
  position:absolute;
  left:1193px;
  top:851px;
  width:258px;
  height:36px;
}
#u285_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u285_input {
  font-family:'微软雅黑';
}
#u286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u286 {
  position:absolute;
  left:1078px;
  top:861px;
  width:74px;
  height:16px;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u288 {
  position:absolute;
  left:1193px;
  top:744px;
  width:258px;
  height:40px;
}
#u288_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u288_input {
  font-family:'微软雅黑';
}
#u288_input:disabled {
  color:grayText;
}
#u289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u289 {
  position:absolute;
  left:1488px;
  top:757px;
  width:105px;
  height:19px;
  color:#999999;
}
#u290 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u291 {
  position:absolute;
  left:1463px;
  top:755px;
  width:19px;
  height:17px;
}
#u292 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u293 {
  position:absolute;
  left:1196px;
  top:798px;
  width:258px;
  height:19px;
  color:#999999;
}
#u294 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  word-wrap:break-word;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u295 {
  position:absolute;
  left:1193px;
  top:1247px;
  width:258px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u296 {
  position:absolute;
  left:2px;
  top:16px;
  width:254px;
  word-wrap:break-word;
}
#u297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u297 {
  position:absolute;
  left:1078px;
  top:1082px;
  width:74px;
  height:16px;
}
#u298 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u299 {
  position:absolute;
  left:1193px;
  top:1178px;
  width:258px;
  height:36px;
}
#u299_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u299_input {
  font-family:'微软雅黑';
}
#u300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u300 {
  position:absolute;
  left:1078px;
  top:1188px;
  width:74px;
  height:16px;
}
#u301 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u302 {
  position:absolute;
  left:1193px;
  top:1071px;
  width:258px;
  height:40px;
}
#u302_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u302_input {
  font-family:'微软雅黑';
}
#u302_input:disabled {
  color:grayText;
}
#u303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u303 {
  position:absolute;
  left:1206px;
  top:1082px;
  width:145px;
  height:19px;
  font-size:14px;
  color:#999999;
}
#u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u305 {
  position:absolute;
  left:1196px;
  top:1125px;
  width:258px;
  height:19px;
  color:#999999;
}
#u306 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  word-wrap:break-word;
}
#u307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0000FF;
}
#u307 {
  position:absolute;
  left:1474px;
  top:1082px;
  width:105px;
  height:19px;
  text-decoration:underline;
  color:#0000FF;
}
#u308 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u309 {
  position:absolute;
  left:1193px;
  top:1037px;
  width:222px;
  height:15px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u311 {
  position:absolute;
  left:1193px;
  top:1545px;
  width:258px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u312 {
  position:absolute;
  left:2px;
  top:16px;
  width:254px;
  word-wrap:break-word;
}
#u313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u313 {
  position:absolute;
  left:1078px;
  top:1380px;
  width:74px;
  height:16px;
}
#u314 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u315 {
  position:absolute;
  left:1193px;
  top:1476px;
  width:258px;
  height:36px;
}
#u315_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u315_input {
  font-family:'微软雅黑';
}
#u316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316 {
  position:absolute;
  left:1078px;
  top:1486px;
  width:74px;
  height:16px;
}
#u317 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u318 {
  position:absolute;
  left:1193px;
  top:1369px;
  width:258px;
  height:40px;
}
#u318_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u318_input {
  font-family:'微软雅黑';
}
#u318_input:disabled {
  color:grayText;
}
#u319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u319 {
  position:absolute;
  left:1206px;
  top:1380px;
  width:209px;
  height:19px;
  font-size:14px;
  color:#999999;
}
#u320 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u321 {
  position:absolute;
  left:1196px;
  top:1423px;
  width:258px;
  height:19px;
  color:#999999;
}
#u322 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  word-wrap:break-word;
}
#u323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0000FF;
}
#u323 {
  position:absolute;
  left:1474px;
  top:1380px;
  width:105px;
  height:19px;
  text-decoration:underline;
  color:#0000FF;
}
#u324 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u325 {
  position:absolute;
  left:1193px;
  top:1335px;
  width:222px;
  height:15px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u326 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
